<header>
        <div class="container">
            <img src="https://aztest.vn/uploads/aztest.vn/news/2018/loi-the-cua-hinh-thuc-thi-trac-nghiem-online-3.jpg" style="width:100%; height: 200px;">
            <div>
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <a class="navbar-brand" routerLink="/trangchu">Trang chủ</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                          
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                  <a class="nav-link" routerLink="/gioithieu">Giới thiệu<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item active">
                                  <a class="nav-link" routerLink="/lienhe">Liên hệ</a>
                                </li>
                                <li class="nav-item active">
                                        <a class="nav-link" routerLink="/gopy">Góp ý</a>
                                </li>
                                <li class="nav-item active">
                                        <a class="nav-link" routerLink="/hoidap">Hỏi đáp</a>
                                </li>
                                <li class="nav-item active">
                                  <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Tài khoản                                </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" routerLink="/dangnhap">Đăng nhặp</a>
                                      <a class="dropdown-item" routerLink="/dangky">Đăng ký</a>
                                      <a class="dropdown-item" routerLink="/doimatkhau">Đổi mật khẩu</a>
                                      <a class="dropdown-item" routerLink="/doitt">Sửa thông tin</a>
                                    </div>
                                  </div>
                              </li>
                              </ul>
                              <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                              </form>
                            </div>
                    </nav>
            </div>
            <div class="col-md-12 pt-3" >
                <div class="card" *ngFor="let item2 of lists|paginate: { itemsPerPage: 1, currentPage: p }">
                    <div class="card-header" >

                        <span id='h'></span> 
                        <span id='m'></span> 
                        <span id='s'></span>  

                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote ">
                            <p class="float-left">
                                {{item2&&item2.Text}}
                            </p>
                            <!-- <p id="timer">
                                <script type="text/javascript">countDown();</script>
                            </p> -->
                        </blockquote>

                    </div>
                    <hr style="width: 80%; margin: 0 auto">
                    <div class="card-body ">
                        <blockquote class="blockquote  ps" >

                            <label class="container"*ngFor="let item3 of item2.Answers" >
                                <input type="radio" name="radio"> 
                                <span class="checkmark" > {{item3.Text}}</span>
                            </label>
                            


                        </blockquote>
                    </div>
                    <div class="card-header ps">
                        <p>MARKS: 0/80</p>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                    <button type="button" class="btn {{isEdit? 'btn-danger' : 'btn-primary disable'}}" (click)='isEdit? start() : stop() ' >{{isEdit? 'Bắt Đầu' : 'Kết Thúc'}}</button>
                

                </div>
                
            </div>
        </div>
    </header>