<header>
        <div class="container">
            <img src="https://aztest.vn/uploads/aztest.vn/news/2018/loi-the-cua-hinh-thuc-thi-trac-nghiem-online-3.jpg" style="width:100%; height: 200px;">
            <div>
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <a class="navbar-brand" routerLink="/trangchu">Trang chủ</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                          
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                  <a class="nav-link" routerLink="/gioithieu">Giới thiệu<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item active">
                                  <a class="nav-link" routerLink="/lienhe">Liên hệ</a>
                                </li>
                                <li class="nav-item active">
                                        <a class="nav-link" routerLink="/gopy">Góp ý</a>
                                </li>
                                <li class="nav-item active">
                                        <a class="nav-link" routerLink="/hoidap">Hỏi đáp</a>
                                </li>
                                <li class="nav-item active">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Tài khoản                                </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" routerLink="/dangnhap">Đăng nhặp</a>
                                          <a class="dropdown-item" routerLink="/dangky">Đăng ký</a>
                                          <a class="dropdown-item" routerLink="/doimatkhau">Đổi mật khẩu</a>
                                          <a class="dropdown-item" routerLink="/doitt">Sửa thông tin</a>
                                        </div>
                                      </div>
                                </li>
                              </ul>
                              <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                              </form>
                            </div>
                    </nav>
            </div>
                        <div class="card" style="background-image: url('https://hinhanhdephd.com/wp-content/uploads/2018/07/hinh-nen-3d-dep-cho-dien-thoai-13.jpg');">
                                <div class="card-header">
                                  <h1 style="color:yellowgreen;text-align: center">Login</h1>
                                </div>
                                <div class="card-body">
                                        <form>
                                                <div class="form-group">
                                                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
                                                  placeholder="Username,Email" style="width: 500px"
                                                  [(ngModel)]="user" [ngModelOptions]="{standalone: true}">
                                                </div>
                                                <div class="form-group">
                                                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" style="width: 500px"
                                                  [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                                                </div>
                                                <button  routerLink="/trangchu" type="submit" class="btn" (click)='KT()' class="btn btn-primary" marr>Login Now</button><br>
                                        </form>
                                </div>
                                <div class="card-footer text-muted">
                                    <a routerLink="/dangky">Đăng ký</a>
                                </div>
            </div>
        </div>
    </header>
