<header>
        <div class="container">
            <img src="https://aztest.vn/uploads/aztest.vn/news/2018/loi-the-cua-hinh-thuc-thi-trac-nghiem-online-3.jpg" style="width:100%; height: 200px;">
            <div>
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <a class="navbar-brand" routerLink="/trangchu">Trang chủ</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                          
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                  <a class="nav-link" routerLink="/gioithieu">Giới thiệu<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item active">
                                  <a class="nav-link" routerLink="/lienhe">Liên hệ</a>
                                </li>
                                <li class="nav-item active">
                                        <a class="nav-link"routerLink="/gopy">Góp ý</a>
                                </li>
                                <li class="nav-item active">
                                        <a class="nav-link" routerLink="/hoidap">Hỏi đáp</a>
                                </li>
                                <li class="nav-item active">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Tài khoản                                </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" routerLink="/dangnhap">Đăng nhặp</a>
                                          <a class="dropdown-item" routerLink="/dangky">Đăng ký</a>
                                          <a class="dropdown-item" routerLink="/doimatkhau">Đổi mật khẩu</a>
                                          <a class="dropdown-item" routerLink="/doitt">Sửa thông tin</a>
                                        </div>
                                      </div>
                                </li>
                              </ul>
                              <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                              </form>
                            </div>
                    </nav>
            </div>
            <div class="row">
                <div class="col-8">
                    <h2>Các câu hỏi thường gặp</h2>
                    <h4>1.Cách tạo tài khoản?</h4>
                    Để đăng ký tài khoản, quý khách vui lòng thực hiện theo các bước sau:<br>

B1. Truy cập vào trang 

Nhấp chọn mục “Tài khoản” trên thanh menu.<br>

Click nút đăng ký nếu bạn muốn đăng ký tài khoản mới.<br>

B2. Điền thông tin cá nhân <br>

Thông tin bao gồm tài khoản và mật khẩu. Các thông tin này được cam kết bảo mật và chỉ sử dụng với mục đích tiện xưng hô khi liên hệ với quý khách.<br>

B3. Điền thông tin đăng nhập<br>

Quý khách sẽ sử dụng địa chỉ Email và mật khẩu đã đăng ký để đăng nhập tài khoản. Mật khẩu sử dụng cho tài khoản có thể khác với mật khẩu mà quý khách dùng để đăng nhập vào Email.<br>

Sau đó nhấp vào mục “Đăng ký ngay”.<br>

Hệ thống sẽ gửi xác nhận đã đăng ký thành công cho bạn.<br>

B4: Đăng nhập vào tài khoản của bạn bằng Email và mật khẩu vừa đăng ký.<br>
                    <h4>2.Tôi phải làm thế nào khi quên mật khẩu?</h4>
- Khi bị quên mật khẩu, bạn chỉ có thể đổi lại mật khẩu mới.<br>

- Hãy làm theo các bước sau:<br>
+Nhấp chọn mục “Tài khoản” trên thanh menu.<br>

+Click nút quên mật khẩu.<br>

+ Nhập vào Email bạn đã đăng ký để nhận link thay đổi mật khẩu.<br>
                    <h4></h4>
                </div>
                <div class="col-4">
                        <div class="list-group">
                                <a routerLink="/danhmmh" class="list-group-item list-group-item-action active">
                                  Danh mục môn thi
                                </a>
                                <a class="list-group-item list-group-item-action">ADVA</a>
                                <a class="list-group-item list-group-item-action">ADBS</a>
                                <a class="list-group-item list-group-item-action">ADTE</a>
                                <a class="list-group-item list-group-item-action">ADUI</a>
                                <a class="list-group-item list-group-item-action">ASNE</a>
                                <a class="list-group-item list-group-item-action">CLCO</a>
                                <a class="list-group-item list-group-item-action">DBAV</a>
                                <a class="list-group-item list-group-item-action">DBEBS</a>
                                <a class="list-group-item list-group-item-action">GAME</a>
                                <a class="list-group-item list-group-item-action">HTCS</a>
                                <a class="list-group-item list-group-item-action">INMA</a>
                                <a class="list-group-item list-group-item-action">JAAV</a>
                                <a class="list-group-item list-group-item-action">JABS</a>
                                <a class="list-group-item list-group-item-action">JSPR</a>
                                <a class="list-group-item list-group-item-action">LAVO</a>
                                <a class="list-group-item list-group-item-action">MOWE</a>
                                <a class="list-group-item list-group-item-action">PHPP</a>
                                <a class="list-group-item list-group-item-action">PMAG</a>
                                <a class="list-group-item list-group-item-action">TEMPLATE</a>
                                <a class="list-group-item list-group-item-action">VBPR</a>
                                <a class="list-group-item list-group-item-action">WEBU</a>
                        </div>
                </div>
            </div>
        </div>
    </header>
