<header>
        <div class="container">
            <img src="https://aztest.vn/uploads/aztest.vn/news/2018/loi-the-cua-hinh-thuc-thi-trac-nghiem-online-3.jpg" style="width:100%; height: 200px;">
            <div>
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <a class="navbar-brand" routerLink="/trangchu">Trang chủ</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                          
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                  <a class="nav-link" href="#">Giới thiệu<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item active">
                                  <a class="nav-link" routerLink="/lienhe">Liên hệ</a>
                                </li>
                                <li class="nav-item active">
                                        <a class="nav-link" routerLink="/gopy">Góp ý</a>
                                </li>
                                <li class="nav-item active">
                                        <a class="nav-link" routerLink="/hoidap">Hỏi đáp</a>
                                </li>
                                <li class="nav-item active">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Tài khoản                                </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" routerLink="/dangnhap">Đăng nhặp</a>
                                          <a class="dropdown-item" routerLink="/dangky">Đăng ký</a>
                                          <a class="dropdown-item" routerLink="/doimatkhau">Đổi mật khẩu</a>
                                          <a class="dropdown-item" routerLink="/doitt">Sửa thông tin</a>
                                        </div>
                                      </div>
                                </li>
                              </ul>
                              <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                              </form>
                            </div>
                    </nav>
            </div>
            <div class="row">
                <div class="col-8">
                    <h2 style="text-align: center;color:magenta">Giới thiệu về thiết kế web</h2>
                    Trong giai đoạn khởi đầu của website, có rất nhiều ngôn ngữ lập trình được sử dụng như: JSP, ASP, PHP, ASP.NET, JSP (Java), Cold Fusion, Perl, Python và một số ngôn ngữ không phổ biến khác. Nhưng hiện tại có 2 ngôn ngữ được dùng phổ biến là PHP và ASP.NET.

PHP được dùng trên các máy chủ lưu trữ web dùng hệ điều hành Linux như: CenOS, Debian, Fedora, RedHat, Ubuntu. các file có phần mở rộng là .php hoặc php3 và thường theo cấu trúc LAMP. Ở một số máy chủ lưu trữ web còn hỗ trợ PHP trên nền Windows với cấu trúc WAMP.

PHP là ngôn ngữ được sử dụng phổ biến nhất trên thế giới, dựa vào PHP, các lập trình viên đã xây dựng các mã nguồn mở nổi tiếng như Joomla, Wordpress, Drupal, Mambo, phpBB, Zend. Đây là các ứng dụng web được sử dụng để xây dựng các trang website động, người dùng không nhất thiết phải biết viết ngôn ngữ lập trình mà vẫn có thể tạo ra những web động.

ASP.NET được dùng trên các máy chủ lưu trữ web dùng hệ điều hành của Microsoft như Windows Server 2003, Windows Server 2008. Các file có phần mở rộng là .aspx hoặc .asp.

Để đưa website lên mạng điều đầu tiên là cần một máy chủ lưu trữ web và máy chủ này phải được kết nối Internet liên tục. Trong các giải pháp lưu trữ trên mạng có thể sử dụng: Share Hosting - tức mua một dung lượng nhất định trên máy chủ, VPS - tức một máy chủ chạy với công nghệ ảo hóa, Dedicated Server - một máy chủ vật lý.

Và một tên miền cho website để định hướng được người dùng truy cập vào website của bạn.

Hiện tại, web động được thiết kế trên nền mã nguồn mở đang rất được ưa chuộng và thịnh hành. Mã nguồn mở đang trở thành một xu hướng mới, một người không biết lập trình cũng có thể thiết kế website động với đầy đủ chức năng thông qua mã nguồn mở.
                    <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/JoomlaAdministrator.jpg/1920px-JoomlaAdministrator.jpg">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/JoomlaAdministrator.jpg/1920px-JoomlaAdministrator.jpg" width="100%">
                    </a>
                    <p style="text-align: center">Giao diện quản lý ứng dụng mã nguồn mở Joomla dùng để phát triển web bằng ngôn ngữ PHP</p>
                </div>
                <div class="col-4">
                        <div class="list-group">
                                <a routerLink="/danhmmh" class="list-group-item list-group-item-action active">
                                  Danh mục môn thi
                                </a>
                                <a class="list-group-item list-group-item-action">ADVA</a>
                                <a class="list-group-item list-group-item-action">ADBS</a>
                                <a class="list-group-item list-group-item-action">ADTE</a>
                                <a class="list-group-item list-group-item-action">ADUI</a>
                                <a class="list-group-item list-group-item-action">ASNE</a>
                                <a class="list-group-item list-group-item-action">CLCO</a>
                                <a class="list-group-item list-group-item-action">DBAV</a>
                                <a class="list-group-item list-group-item-action">DBEBS</a>
                                <a class="list-group-item list-group-item-action">GAME</a>
                                <a class="list-group-item list-group-item-action">HTCS</a>
                                <a class="list-group-item list-group-item-action">INMA</a>
                                <a class="list-group-item list-group-item-action">JAAV</a>
                                <a class="list-group-item list-group-item-action">JABS</a>
                                <a class="list-group-item list-group-item-action">JSPR</a>
                                <a class="list-group-item list-group-item-action">LAVO</a>
                                <a class="list-group-item list-group-item-action">MOWE</a>
                                <a class="list-group-item list-group-item-action">PHPP</a>
                                <a class="list-group-item list-group-item-action">PMAG</a>
                                <a class="list-group-item list-group-item-action">TEMPLATE</a>
                                <a class="list-group-item list-group-item-action">VBPR</a>
                                <a class="list-group-item list-group-item-action">WEBU</a>
                        </div>
                </div>
            </div>
        </div>
    </header>
