<header>
    <div class="container">
        <img src="https://aztest.vn/uploads/aztest.vn/news/2018/loi-the-cua-hinh-thuc-thi-trac-nghiem-online-3.jpg" style="width:100%; height: 200px;">
        <div>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" routerLink="/trangchu">Trang chủ</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                              <a class="nav-link" routerLink="/gioithieu">Giới thiệu<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                              <a class="nav-link" routerLink="/lienhe">Liên hệ</a>
                            </li>
                            <li class="nav-item active">
                                    <a class="nav-link" routerLink="/gopy">Góp ý</a>
                            </li>
                            <li class="nav-item active">
                                    <a class="nav-link" routerLink="/hoidap">Hỏi đáp</a>
                            </li>
                            <li class="nav-item active">
                              <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Tài khoản                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" routerLink="/dangnhap">Đăng nhặp</a>
                                  <a class="dropdown-item" routerLink="/dangky">Đăng ký</a>
                                  <a class="dropdown-item" routerLink="/doimatkhau">Đổi mật khẩu</a>
                                  <a class="dropdown-item" routerLink="/doitt">Sửa thông tin</a>
                                </div>
                              </div>
                          </li>
                          </ul>
                          <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                          </form>
                        </div>
                </nav>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="row" style="padding-top: 40px">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="http://aum.edu.vn/sites/default/files/aum/tintuc/cong_nghe_thong_tin_0.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h2 class="card-title" style="color:darkviolet">ADVA</h2>
                                    <a routerLink="/tracnghiem" class="btn btn-primary">Đến phần trắc nghiệm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="http://aum.edu.vn/sites/default/files/aum/tintuc/cong_nghe_thong_tin_0.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h2 class="card-title" style="color:darkviolet">ADBS</h2>
                                    <a routerLink="/tracnghiem" class="btn btn-primary">Đến phần trắc nghiệm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 40px">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <img src="http://aum.edu.vn/sites/default/files/aum/tintuc/cong_nghe_thong_tin_0.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h2 class="card-title" style="color:darkviolet">ADTE</h2>
                                        <a routerLink="/tracnghiem" class="btn btn-primary">Đến phần trắc nghiệm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <img src="http://aum.edu.vn/sites/default/files/aum/tintuc/cong_nghe_thong_tin_0.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h2 class="card-title" style="color:darkviolet">ADUI</h2>
                                        <a routerLink="/tracnghiem" class="btn btn-primary">Đến phần trắc nghiệm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 40px">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <img src="http://aum.edu.vn/sites/default/files/aum/tintuc/cong_nghe_thong_tin_0.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h2 class="card-title" style="color:darkviolet">ASNE</h2>
                                            <a routerLink="/tracnghiem" class="btn btn-primary">Đến phần trắc nghiệm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <img src="http://aum.edu.vn/sites/default/files/aum/tintuc/cong_nghe_thong_tin_0.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h2 class="card-title" style="color:darkviolet">CLCO</h2>
                                            <a routerLink="/tracnghiem" class="btn btn-primary">Đến phần trắc nghiệm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
            </div>
            <div class="col-4">
                    <div class="list-group">
                            <a routerLink="/danhmmh" class="list-group-item list-group-item-action active">
                              Danh mục môn thi
                            </a>
                            <a class="list-group-item list-group-item-action">ADVA</a>
                            <a class="list-group-item list-group-item-action">ADBS</a>
                            <a class="list-group-item list-group-item-action">ADTE</a>
                            <a class="list-group-item list-group-item-action">ADUI</a>
                            <a class="list-group-item list-group-item-action">ASNE</a>
                            <a class="list-group-item list-group-item-action">CLCO</a>
                            <a class="list-group-item list-group-item-action">DBAV</a>
                            <a class="list-group-item list-group-item-action">DBEBS</a>
                            <a class="list-group-item list-group-item-action">GAME</a>
                            <a class="list-group-item list-group-item-action">HTCS</a>
                            <a class="list-group-item list-group-item-action">INMA</a>
                            <a class="list-group-item list-group-item-action">JAAV</a>
                            <a class="list-group-item list-group-item-action">JABS</a>
                            <a class="list-group-item list-group-item-action">JSPR</a>
                            <a class="list-group-item list-group-item-action">LAVO</a>
                            <a class="list-group-item list-group-item-action">MOWE</a>
                            <a class="list-group-item list-group-item-action">PHPP</a>
                            <a class="list-group-item list-group-item-action">PMAG</a>
                            <a class="list-group-item list-group-item-action">TEMPLATE</a>
                            <a class="list-group-item list-group-item-action">VBPR</a>
                            <a class="list-group-item list-group-item-action">WEBU</a>
                    </div>
            </div>
        </div>
    </div>
</header>